<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            
            {% load staticfiles %}
            <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css"> 
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
         {% block head %}
        <title>Base</title>
        {% endblock %}
    </head>
    <body>
        <br>
        <div class="container">
                        
                              <!-- Static navbar -->
                              <nav class="navbar navbar-expand-md navbar-light-grey bg-dark mb-4">
                                <div class="container-fluid">
                                  <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                      <span class="sr-only">Toggle navigation</span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="{% url 'home:home' %}">Social Network</a>
                                  </div>
                                  <div id="navbar" class="navbar-collapse collapse">
                                     {% if user.is_authenticated %}
                                    <ul class="nav navbar-nav navbar-left">
                                      <li><a class="navbar-brand" href="{% url 'home:home'%}">Home</a></li>
                                      <li><a class="navbar-brand" href="{% url 'accounts:profile' %}">Profile</a></li>
                                      <li><a class="navbar-brand" href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
                                      <li><a class="navbar-brand" href="{% url 'accounts:change_password'%}">Change Password</li>
                                     </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a class="navbar-brand" href="{% url 'accounts:logout' %}">Logout</a></li>
                                    </ul>
                                    {% else %}
                                    <ul class="nav navbar-nav navbar-right">
                                    <li><a class="navbar-brand" href="{% url 'accounts:password_reset' %}">Reset Password</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                      
                                          <li><a class="navbar-brand" href="{% url 'accounts:login' %}">Login</a></li>
                                         <li><a class="navbar-brand" href="{% url 'accounts:register' %}">Register</a></li>
                                      </ul>
                                    {% endif %}
                                  </div><!--/.nav-collapse -->
                                </div><!--/.container-fluid -->
                              </nav>
        </div>
        {% block body %}
        <h1>Base</h1>
        {% endblock %}
    </body>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>